.thumbnail {
    width: 50px;
    margin-left: 5px;
    margin-top: 5px;
}

.msg-info {
    display: inline;
    font-style: italic;
    font-size: 0.85rem;
    margin-left: 10px;
}

.msg-text {
    margin-top: 0.4rem;
    margin-left: 0.4rem;
    font-size: 0.9rem;
}

.message-card {
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    margin-top: 10px;
}

.msg-board {
    border-color: black; 
    border-style: solid;
    border-radius: 5px; 
    padding-left: 10px; 
    padding-right: 10px;
}

.sorry{
    margin-top: 15px;
}

.msg-send {
    width: 100%;
    margin-left: 0px !important;
}