.SearchForm input:focus {
    box-shadow: none;
    border-color: #ced4da;
    margin-bottom: 0px;
    width: 100%;
  }
  .SearchForm {
    width: 100%;
  }
  .area-link {
    display: block;
    text-decoration: none;
    color: black;
    background-color: lightgray;
    padding-left: 12px;
    /* background-color: #dad7cd;; */
  }
  
.area-link:hover {
    background-color: #588157;
  }

  .area-results {
    text-align: left;
    width: 100%;
  }

.search {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
}