body {
  background-color: #ccd5ae;
  font-family: "Space mono", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center; 
  align-items: center; 
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  background-color: #d4d4d4;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25),
    0 6px 6px rgba(0, 0, 0, 0.22);
  padding: 10px 30px 20px 30px;
  max-width: 400px;
}


.heading {
  color: black;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.subheading {
  color: black;
}


form {
  background-color: #d4d4d4;
  width: 100%;
}

.form-control {
  height: 42px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: lightgray;
}

.btn {
  background-color: #588157;
  border-color: #588157;
  border-width: 3px;
  color: black;
  margin-top: 5px;
  width: 100%;
}

.btn:hover {
  border-color: #3a5a40;
  border-width: 3px;
  background-color: #588157;
  color: black;
}

.btn:active {
  background-color: #3a5a40 !important;
  border-color: #3a5a40 !important;
}
